.header {
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: #b0acc7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #312c66;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-bar {
    background-color: #363348;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #e0b9d2;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Aumenta el minmax */
    gap: 100px;
    max-width: 1200px; /* Puedes aumentar este valor si es necesario */
    margin: auto;
    margin-bottom: 40px;
}

.gallery video {
    display: flex;
    justify-content: center; /* Centrar el video */
    margin: 20px 0;
}

video {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery img:hover  {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.artist-container {
    max-width: 1400px;
    margin: auto;
    background-color: #C7C6E8;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.artist-card {
    display: flex;
    align-items: center;
}

.nombre{   
    font-size: 50px; 
    align-items: center; 
}
.artist-card img {
    
    
    align-items: center;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}




.informacion {  
    display: flex;
    align-items: center;
    font-size: 30px;  
    gap: 10px;
}



.info {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

.perfiles {  

    display: flex; 
    gap: 10px;
    margin: 10px 0;
}

.perfiles video {
    display: flex;
    align-items: center;
    width: auto;
    max-width: 200px;
    height: 350px;
    border-radius: 5px;   
    transition: transform 0.3s ease-in-out;
}

.perfiles video:hover {
    transform: scale(1.1);
}

.ver-mas {
    display: flex;
    background-color: #6a5acd;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 30px;
    display: block;  
    text-align: center; /* Centra el texto dentro del botón */
    width: fit-content; /* Evita que ocupe todo el ancho */
}



.ver-mas:hover {
    display: flex;
    background-color: #4b3b98;
}