.header {
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: #b0acc7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #312c66;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-bar {
    background-color: #363348;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #e0b9d2;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}


.artist-container {
        max-width: 1400px;
        margin: auto;
        background: #b0acc7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .artist-card {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: row;
        justify-content: flex-start; /* Asegura que la imagen y el texto estén alineados */
    }
    
    .profile-pic {
        width: 200px; /* Un poco más grande para mejor visibilidad */
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .artist-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
    }
    
    .description {
        background: #D0C8F0;
        padding: 10px;
        border-radius: 5px;
    }
    .cart-button {
        background: #6A5ACD;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 30px;
        transition: background 0.3s;
    }
    .cart-button:hover
    {
        background-color: #4b3b98;
    }
    .art-gallery {
        display: flex;
        gap: 10px;
        margin-top: 15px;
        justify-content: center;
    }
    .art-gallery img {
        width: 190px;
        height: auto;
        border-radius: 5px;
    }
    .review {
        font-size: 25px;
        margin-top: 15px;
        background: #E3E0F9;
        padding: 10px;
        border-radius: 5px;
        text-align: center;

    }
    